@keyframes fade {
     0%{
         opacity: 0;
     }
     100%{
         opacity: 100%;
     }
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Poppins';
    animation: fade 2s;
    overflow: hidden;
    background-color: #000;
}
a{
    text-decoration: none;
    color: #fff;
}
.weather, .weather h1{
    text-align: center;
    color: #fff;
    font-weight: 200;
}

.weather-search{
    padding-top: 3%;
}
#search-bar{
    background: transparent;
    border-radius: 30px; 
    padding: 10px 40px;
    border-style: solid;
    border-color: rgb(57, 56, 56) 1px;

}
.weather{
    /* background-image: url('images/tornado-watch.jpg'); */
    background-size: contain;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}
.weather-content{
    padding-top: 8%;
}
.weather-location{
    font-size: 10px;
    padding-bottom: 10px;
}
.weather-hl{
    display: flex;
    margin-left: 42%;
    gap: 15px;
}

.weather-sun-content h1{
    padding-top: 10px;
    font-size: 15px;
}

/* media queries */

@media (max-width: 476px){
    .weather-content{
        padding-top: 20%;
    }
    .weather-content h1{
        font-size: 15px;
    }
    .weather-location h1{
        font-size: 12px;
    }
    .weather-hl{
        margin-left: 38%;
    }
    
    
}